.iconsRow{
	display:flex;
	width: 95%;
	justify-content:space-around;
	padding: 3px;

}

.linksRow{
	display:flex;
	width:95%;
	justify-content:space-around;
}

#iconTitle{
	font-family: "Nunito Sans", Arial, sans-serif;
	font-size: 24px;
    line-height: 1.8;
    font-weight: 600;
    color: #555555;
    width: 40%;
    text-align: center;
    padding: 3px;

}

#iconTitle a:hover{
	text-decoration: underline;
}
.iconnew{
	height: 300px;
	width: 250px;
	border: 2px solid #20c997;
	padding: 2px;
}
