.descLay{
	width:70%;
	margin: auto;
	justify-content: space-around;
    border-top: 40px white solid;
    border-bottom: 40px white solid;
    display: block;    
}

img.poster{
	
	float: left;
	width: 40%;
	border: 30px solid red;
	padding: 3px;
	height: 450px;
}


.desc{
	width: 100%;
	color: red;
    font-size: 20px;
    
}
.high{
    width: 100%;
    font-size: 40px;
    font-weight: 1000;
    display: block;
    
}
.low{
    width: 100%;
    font-size: 17px;
    font-weight: 300;
    display: block;
    
}

#grey
{
    color: #999;
}

#clear
{
    clear: left;
}